.clock {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 1.5em;
  background-image: linear-gradient(180deg, #5d5d5d 0%, #373737 100%);
}

.time {
  margin-left: 0.5em;
  color: #fff;
  font-size: 2.5em;
}

.ufcLogo {
  width: 80px;
  fill: #fff;
}
