@use '../../../../scss/colors.scss';
@use '../../../../scss/typography.scss';

.clock {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 1.5em;
  background-image: linear-gradient(180deg, colors.$clock-lighter 0%, colors.$clock-darker 100%);
}

.time {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  color: #fff;
  font-size: 2.5em;
  font-family: typography.$clock-font-family;
  user-select: none;

  &Separator {
    height: 100%;
  }
}

.ufcLogo {
  width: 80px;
  fill: #fff;
}
