@use '../../../../scss/colors.scss';
@use '../../../../scss/typography.scss';

.clock {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0 1.5em;
  background-image: linear-gradient(180deg, colors.$clock-lighter 0%, colors.$clock-darker 100%);
}

.time {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  color: colors.$white-text;
  font-size: 2em;
  font-family: typography.$clock-font-family;
  user-select: none;
}

.separator {
  transform: translateY(-5%);
}

.ufcLogo {
  width: 4.3em;
  transition: fill 0.3s ease;
  fill: colors.$white-text;

  &:hover {
    fill: darken($color: colors.$white-text, $amount: 10%);
  }
}
