@use '../../../../scss/colors.scss';
@use '../../../../scss/typography.scss';

.color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  background-color: colors.$red;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 15px;
    background-color: inherit;
    transform: translate(-50%, -50%);
    content: '';
  }

  &Text {
    font-weight: lighter;
  }
}

.contestant {
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  height: 100%;
  color: #fff;
  font-size: 1.3em;
  font-family: typography.$timer-font-family;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: linear-gradient(0deg, colors.$contestant-darker 0%, colors.$contestant-lighter 100%);
  background-position-y: 40%;
  background-size: 100% 400%;

  & + & {
    flex-direction: row-reverse;
    order: 1;
  }

  & + & > .color {
    background-color: colors.$blue;
  }

  & + & > .color::before {
    right: 0;
    left: auto;
    transform: translate(50%, -50%);
  }
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 15px;
  height: 20px;
  margin-right: 5px;
  padding-left: 2px;
  color: colors.$rank-text;
  font-weight: bolder;
  font-size: 0.7em;
  text-align: center;
  background-color: colors.$rank;

  &champion {
    background-color: colors.$gold;
  }
}

.text {
  &Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    max-width: 250px;
    height: 100%;
    padding-left: 2em;
  }
}
