.color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  background-color: #555;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 15px;
    background-color: inherit;
    transform: translate(-50%, -50%);
    content: '';
  }

  &Text {
    color: orange;
  }
}

.contestant {
  display: flex;
  align-items: center;
  justify-content: center;
  order: -1;
  height: 100%;
  color: #fff;
  font-size: 1.3em;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: linear-gradient(0deg, #3f4146 0%, #919192 100%);
  background-position-y: 40%;
  background-size: 100% 400%;

  & + & {
    flex-direction: row-reverse;
    order: 1;
  }

  & + & > .color::before {
    right: 0;
    left: auto;
    transform: translate(50%, -50%);
  }
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 15px;
  height: 20px;
  margin-right: 5px;
  padding-left: 2px;
  color: #3f4146;
  font-weight: bolder;
  font-size: 0.9em;
  text-align: center;
  background-color: #9b9ca3;

  &Champion {
    background-color: #b5a772;
  }
}

.text {
  &Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    max-width: 250px;
    height: 100%;
    padding-left: 2em;
  }
}
