// trunk colors
$black: #131416;
$blue: #294790;
$gold: #b5a772;
$green: #207744;
$red: #8f020e;
$white: #f8f6f9;
$yellow: #e6d450;

// ui elements colors
$rank: #9b9ca3;
$rank-text: #3f4146;
$clock-darker: #373737;
$clock-lighter: #5d5d5d;
$contestant-darker: #3f4146;
$contestant-lighter: #787879;
