@use '../../../../scss/colors.scss';

.ufcLogo {
  width: 4.3em;
  height: 100%;
  transition: fill 0.3s ease;
  fill: colors.$white-text;

  &:hover {
    fill: darken($color: colors.$white-text, $amount: 10%);
  }

  &Wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(180deg, colors.$clock-lighter 0%, colors.$clock-darker 100%);
    transform: translateY(-50%);
  }
}
