@use '../../scss/colors.scss';
@use '../../scss/typography.scss';

.round {
  &CounterWrapper,
  &Number {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &CounterWrapper {
    overflow: hidden;
  }

  &Number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$white-pure;
    font-size: 1.6em;
    font-family: typography.$timer-font-family;
    letter-spacing: 4px;
    white-space: nowrap;
    text-transform: uppercase;
    word-spacing: -0.25em;
    transform: translateY(-100%);
  }
}
